body {
    font-family:Cambria;
    font-size: 130%;
    margin: 0;
    padding: 0;
    color: #19668f;
  }
  
  .orange-text{
    color: #af31aa;
  }

  
  .container {
    display: flex;
    margin: 0;
    height: 100vh;
  }
  
  .content {
    flex: 1;
    display: flex;
    background-image: url('../img/pozadina5.png');
    background-position: 0px 80%;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }
  
  .image-container {
    flex: 1;
    background-size: contain;
    background-image: url('../img/pocetna4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50px 30%;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

  }
  
  button {
    background-color: #91c8e4;
    font-family:Cambria;
    color: #0d3c52;
    padding: 13px 40px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #9f948e;
  }
  