



body {
    margin: 0;
    padding: 0;
    color: #0d3c52;
    background-color: #ccabd9;
    font-family:Cambria;

    
}


label{
    font-size: 170%;
}
#container{
    
    height: 100vh;
    display: flex;
    align-items: center; 
    background-image: url("../img/random_images/background1.png");
    background-size: cover ;
}

#form {
    border-radius: 20px;
    margin-top: 10px;
    max-width: 100%;
    flex: 1;
    float: right;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-position: 35% 30%;
    box-sizing: border-box;
    background-color: #ccabd9;
    width: 40%;
}
#photo_div{
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; /* Add some margin between sections */
}
#startPoint_div,
#interests_div,
#budget_div,
#categories_div,
#time_div {
    width: 100%;
    margin-bottom: 20px; /* Add some margin between sections */
}
#submit_div {
    width: 100%;
    box-sizing: border-box;
}

#album_div {
    position: fixed;
    width: 50%;
    height:100vh;
    position: relative;
    overflow: hidden;
}
#album{
    flex: 1;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    transition: opacity 1s ease-out;
}
#photo{
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 270px;
}
#startPoint,
#interests,
#budget,
#time{
    width: 75%;
    background-color: aliceblue;
    font-family:Cambria;
    margin-top: 10px;
    font-size: 170%;
    border-radius: 10px;
}
#time{
    height: 40px;
    font-size: 140%;
}
#interests,#startPoint,#budget{
    white-space: pre-wrap;
    resize: none;
}
#photo{
    font-size: 120%;
    margin-top: 10px;
}
#submit{
    font-family:Cambria;
    color: #0d3c52;
    padding: 13px 40px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #91c8e4;
}
#submit:hover{
    font-family:Cambria;
    color: #0d3c52;
    padding: 13px 40px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #9f948e;
}
#info-button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 999; /* Ensure the button is above other content */
}
#info-text {
    background-color: #0d3c52;
    padding:10px;
    border-radius: 12px;
    color: white;
    position: fixed;
    right: calc(100% + 10px);
    top: 50px;
    right: 50px;
    opacity: 0;
    z-index: -1; /* Ensure the button is above other content */
}

#info-button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f8ff;
    color: #0d3c52;
    border-radius: 100%;
    width: 2vh; /* Adjust the size as needed */
    height: 2vh;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}
#card-container{
    position: fixed;
    z-index: 10;
    width: 50%;
    justify-content: center;
    align-items: center; 
    text-align: center;
}